{{#resume.basics}}
<section id="basics">
	<div class="p-3 mb-3">
		<div class="row">
			<div class="col">
				<div class="d-flex flex-column justify-content-center">
				{{#if image}}
					<img src="{{image}}" class="profile-pic my-4 align-self-center" />
				{{/if}}
				<h1 class="text-center">{{name}}</h1>
				<h2 class="text-center">{{label}}</h2>
				</div>
			</div>
			<div class="col">
				<div class="contact">
					<h3 class="mb-0">
						<i class="fa-solid fa-location-dot me-2"></i>
						Contact
					</h3>
					<hr class="mt-2">
					{{#if url}}
					<div class="website item">
						<i class="fa-solid fa-link me-3"></i>
						<a href="{{url}}" target="_blank">
							{{url}}
						</a>
					</div>
					{{/if}}
					{{#if email}}
					<div class="email item">
						<i class="fa-solid fa-envelope me-3"></i>
						{{email}}
					</div>
					{{/if}}
					{{#if phone}}
					<div class="phone item">
						<i class="fa-solid fa-phone me-3"></i>
						{{phone}}
					</div>
					{{/if}}
				</div>
			</div>
			{{#location}}
				<div class="col">
					<h3 class="mb-0">
						<i class="fa-solid fa-location-dot me-2"></i>
						Location
					</h3>
					<hr class="mt-2">
					<section id="location">
						{{#if address}}
							{{address}},
						{{/if}}
						{{#if postalCode}}
							{{postalCode}},
						{{/if}}
						{{#if city}}
							{{city}},
						{{/if}}
						<div class="clearfix" />
						{{#if region}}
							{{region}},
						{{/if}}
						{{#if countryCode}}
							{{countryCode}}
						{{/if}}
					</section>
					</div>
			{{/location}}
			{{#if profiles.length}}
				<div class="col">
					<h3 class="mb-0">
						<i class="fa-solid fa-globe me-2"></i>
						Profiles
					</h3>
					<hr class="mt-2">
					<section id="profiles">
						<div class="d-flex justify-content-start">
							{{#each profiles}}
								<div class="item">
									{{#if network}}
										<a class="d-block text-center" href="{{url}}" target="_blank">
											{{#network-fa-icon network}}{{/network-fa-icon}}
										</a>
									{{/if}}
									{{#if username}}
										<a class="d-block text-center" href="{{url}}" target="_blank">
											{{username}}
										</a>
									{{/if}}
									</a>
								</div>
							{{/each}}
						</div>
					</section>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
</section>
{{/resume.basics}}