{{#if resume.education.length}}
<section id="education">
	<div class="p-3 mb-3">
		<h3 class="my-0">
			<i class="fa-solid fa-graduation-cap me-2"></i>
			Education
		</h3>
	{{#each resume.education}}
	<hr>
	<div class="item">
		<div class="row">
				<div class="col">
					{{#if institution}}
					<h4 class="institution">
						{{institution}}
					</h4>
					{{/if}}
				</div>
				<div class="col">
					<div class="date d-flex justify-content-end">
						<div class="badge">
							<div class="date">
								{{#if startDate}}
								<span class="startDate">
									{{startDate}}
								</span>
								{{/if}}
								{{#if endDate}}
								<span class="endDate">
									- {{endDate}}
								</span>
								{{else}}
								<span class="endDate">
									- Present
								</span>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
		</div>
		{{#if url}}
			<div class="website">
				<a href="{{url}}" target="_blank">{{url}}</a>
			</div>
		{{/if}}
		{{#if area}}
		<h5 class="area">
			{{area}}
		</h5>
		{{/if}}
		{{#if studyType}}
		<em class="studyType">
			{{studyType}}
		</em>
		{{/if}}
		{{#if score}}
		<div class="score">
			Score: {{score}}
		</div>
		{{/if}}
		{{#if courses.length}}
		<ul class="courses">
			{{#each courses}}
			<li>{{.}}</li>
			{{/each}}
		</ul>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}